@import "./variable";

.screen-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .main-container {
        position: absolute;
        top: $top-spacing;
        left: $side-spacing;
        right: $side-spacing;
        bottom: 0;
    }

    &.noscroll {
        overflow: hidden;
    }
}
