@import "./variable";

.screen-container {
    margin-top: $top-spacing;
    margin-left: $side-spacing;
    margin-right: $side-spacing;
    margin-bottom: 0;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 900px) {
    .screen-container {
        margin-top: $top-spacing-md;
        margin-left: $side-spacing-md;
        margin-right: $side-spacing-md;
    }
}
