@import "./variable";

.modal-boundary {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dim-background-color;
    z-index: 10;

    .modal-container {
        position: absolute;
        left: $base-spacing;
        right: $base-spacing;
        top: $base-spacing;
        bottom: $base-spacing;
        background-color: $transparent-background-color;

        .modal-content {
            position: absolute;
            background-color: $transparent-background-color;
            top: $close-button-side + $top-spacing + $base-spacing;
            left: $side-spacing;
            bottom: $close-button-side + $top-spacing + $base-spacing;
            right: $side-spacing;
            overflow: scroll;
        }

        .modal-button {
            position: absolute;
            top: $top-spacing;
            right: $side-spacing;
            width: $close-button-side;
            height: $close-button-side;
            cursor: pointer;

            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
