@import "./variable";

.modal-boundary {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dim-background-color;
    z-index: 10;

    .modal-container {
        position: absolute;
        left: $base-spacing;
        right: $base-spacing;
        top: $base-spacing;
        bottom: $base-spacing;
        background-color: $transparent-background-color;

        .modal-content {
            position: absolute;
            background-color: $transparent-background-color;
            top: $close-button-side;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .modal-button {
            position: absolute;
            top: 0;
            right: 0;
            width: $close-button-side;
            height: $close-button-side;
            background-color: blue;
        }
    }
}
