li#main a {
	box-shadow: inset 0px -2px #3293bc;
	-webkit-box-shadow: inset 0px -2px #3293bc;
	-moz-box-shadow: inset 0px -2px #3293bc;
}

.main {
	position: absolute;
	width: 100%;
	height: 100%;
}

#mainImg {
	position: absolute;
	margin-top: 60px;
	width: 40%;
	height: 90%;
	float: left;
	padding: 70px;
	text-align: center;
	z-index: 1;
}

img#profile {
	height: 100%;
	width: auto;
}

#mainIntro {
	position: absolute;
	left: 40%;
	margin-top: 130px;
	width: 40%;
	height: 90%;
	float: right;
	z-index: 1;
	background-color: #2b92be;
}

#mainIntro > h2 {
	position: relative;
	color: white;
	font-size: 500%;
	font-family: Helvetica, sans-serif;
	margin-left: 10%;
	margin-top: 10%;
}

#mainInfo {
	position: relative;
	list-style-type: none;
	margin-left: 10%;
	margin-top: 10%;
}

#mainInfo > li {
	font-size: 250%;
	color: white;
}

.bgCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(249, 249, 249);
}

#navButton {
	position: fixed;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
