li#work a {
	box-shadow: inset 0px -2px #3293bc;
	-webkit-box-shadow: inset 0px -2px #3293bc;
	-moz-box-shadow: inset 0px -2px #3293bc;
}

.workMain {
	position: absolute;
	top: 0px;
	width: 100%;
	height: auto;
	min-height: 100%;
	background-color: rgb(252, 252, 252);
}

.navCol {
	position: fixed;
	float: left;
	width: 15%;
	margin-top: 100px;
	height: auto;
	background-color: rgb(240, 240, 240);
	padding-top: 20px;
	padding-bottom: 20px;
}

.navCol > h5 {
	position: relative;
	left: 10%;
	font-weight: bold;
}

.navCol > ul {
	list-style-type: none;
	padding-left: 20%;
}

.navCol > ul > li {
	font-size: 15px;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	cursor: hand;
}

.navColList > li:hover {
	color: rgb(110, 110, 110);
}

.workContent {
	width: 100%;
	height: 100%;
	text-align: center;
}

div.project {
	position: relative;
	margin-top: 40px;
	margin-left: 25%;
	width: 50%;
	height: 280px;
	display: block;
	overflow: hidden;
	/* box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.3);
	border-radius: 10px; */
}

.workContent > div:first-child {
	margin-top: 100px;
}

.workContent > p {
	position: relative;
	top: 100px;
	color: black;
	font-size: 20px;
}

.projectBg {
	position: absolute;
	width: 70%;
	height: auto;
	background-repeat: no-repeat;
	z-index: 0;
	top: 20px;
	left: 30%;

	/*-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);*/

}

.projectMask {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: rgba(245, 245, 245, 0.5);
}


.projectContent {
	position: absolute;
	width: 80%;
	height: 100%;
	background: rgba(255, 255, 255, 0);
	z-index: 10;
	top: 0;
	left: 0;
}

.projectOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
	top: 0;
	left: 0;
}

img.showMoreButton {
	position: absolute;
	right: 12%;
	top: 1px;
	width: 4%;
	height: 4%;
}

img.linkButton {
	position: absolute;
	right: 4%;
	top: 1px;
	width: 4%;
	height: 4%;
}

img.showMoreButton:hover, img.linkButton:hover {
	cursor: pointer;
	cursor: hand;
}

.projectContent > h3 {
	position: relative;
	height: 30%;
	width: 80%;
	left: 5px;
	top: 10px;
	text-align: left;
	padding-left: 10px;
}

.projectContent > p {
	position: relative;
	width: 100%;
	height: auto;
	left: 5px;
	text-align: left;
	padding-left: 10px;
}

div#placeholder {
	position: relative;
	margin-top: 80px;
	height: 1px;
}
