@import "../variable";

.bulletin-title-container {

    h5 {
        display: inline-block;
        padding: $category-title-padding-v $category-title-padding-h;
        color: $gray-text-color;
        font-family: $category-title-font;
        border: $gray-border-color $standard-border-width solid;
        border-radius: $standard-border-radius;
    }
}