@import "../variable";

.bulletin {
    float: left;
    width: $bulletin-width;
    height: $bulletin-height;
    margin-left: $bulletin-margin;
    border-radius: $standard-border-radius;

    img {
        width: 100%;
        height: 100%;
        border-radius: $standard-border-radius;
        border-style: none;
        object-fit: cover;
    }

    &.resume {
        background-color: $resume-board-color;
    }

    &.site-github {
        background-color: $resume-board-color;
    }

    &.insta {
        background-color: $insta-board-color;
    }
}

.bulletin:first-child {
    margin-left: 0;
}