@import "../variable";

.bulletin {
    position: relative;
    float: left;
    width: $bulletin-width;
    height: $bulletin-height;
    margin-left: $bulletin-margin;
    border-radius: $standard-border-radius;

    >.bulletin-header {
        position: relative;
        left: $base-spacing;
        top: $base-spacing;
        z-index: 1;
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: $standard-border-radius;
        border-style: none;

        &.cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.margin {
            width: $thumbnail-dimension;
            height: $thumbnail-dimension;
            object-fit: contain;
        }
    }

    &.clickable {
        cursor: pointer;
    }

    &.resume {
        background-color: $resume-board-color;
    }

    &.site-github {
        background-color: $github-board-color;
    }

    &.insta {
        background-color: $insta-board-color;
    }

    &.cmu {
        background-color: $cmu-board-color;
    }

    &.arsenal {
        background-color: $arsenal-board-color;
    }

    &.major {
        background-color: $major-board-color;
    }

    &.reading {
        background-color: $reading-board-color;
    }

    &.navlab {
        background-color: $navlab-board-color;
    }

    &.remitly {
        background-color: $remitly-board-color;
    }

    &.music {
        background-color: $music-board-color;
    }

    &.personal-website {
        background-color: $personal-website-board-color;
    }

    &.online-course {
        background-color: $online-course-board-color;
    }

    &.ios-reminder {
        background-color: $ios-reminder-board-color;
    }

    &.cal-revision {
        background-color: $cal-revision-board-color;
    }

    &.python-tp {
        background-color: $python-tp-board-color;
    }
}

.bulletin:first-child {
    margin-left: 0;
}

@media (max-width: 900px) {
    .bulletin {
        width: $bulletin-width-md;
        margin-left: $bulletin-margin-md;
    }
}

@media (max-width: 550px) {
    .bulletin {
        width: $bulletin-width-sm;
        margin-left: $bulletin-margin-sm;
    }
}

@media (pointer: fine) {
    .bulletin {
        &:hover {
            box-shadow: 0 0 $base-spacing 0 $shadow-color;
        }
    }

    @media (max-width: 900px) {
        .bulletin {
            &:hover {
                box-shadow: 0 0 $base-spacing-md 0 $shadow-color;
            }
        }
    }
}
