@import "../variable";

.bulletin-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: $top-spacing;
    overflow: hidden;

    &:last-child {
        margin-bottom: $board-spacing;
    }
}
