@import "../variable";

.bulletin-container {
    width: 100%;
    height: auto;
    margin-bottom: $top-spacing;
    display: inline-block;

    &:last-child {
        margin-bottom: $board-spacing;
    }
}

@media (max-width: 900px) {
    .bulletin-container {
        margin-bottom: $top-spacing-md;

        &:last-child {
            margin-bottom: $board-spacing-md;
        }
    }
}
