@import "../variable";

.nav {
    list-style-type: none;

    li {
        display: inline;
        margin-left: $base-spacing * 2;
        font-family: $nav-font;
        cursor: pointer;

        img {
            width: 1.5em;
            height: 1em;
            object-fit: contain;
            margin-bottom: 0;
        }
    }
}
