@import "../variable";

.panel-container {
    padding-bottom: 0;

    .nav {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;

        li {
            display: inline;
            font-family: $nav-font;
            cursor: pointer;

            img {
                width: 1.5em;
                height: 1em;
                object-fit: contain;
                margin-bottom: 0;
            }
        }

        li:not(:first-child) {
            margin-left: $base-spacing * 2;
        }
    }
}

@media (max-width: 700px) {
    .panel-container {
        padding-bottom: $top-spacing-md;
    }
}
