@import "../variable";

.header-container {
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: $header-margin;

    .title-container {
        float: left;
        padding: 0;
        height: auto;

        h2 {
            font-family: $main-title-font;
            font-size: $page-title-size;
            margin: 0;
        }
    }

    .panel-container {
        padding-left: 0;
        float: right;

        h4 {
            margin: 0;
        }
    }
}

.content-container {
    position: relative;
    overflow: hidden;
    height: auto;
}

@media (max-width: 700px) {
    .header-container {
        .title-container {
            display: block;
            clear: right;
            float: none;
        }

        .panel-container {
            display: block;
            float: left;
        }
    }
}

@media (max-width: 550px) {
    .header-container {
        .title-container {
            h2 {
                font-size: $page-title-size-sm;
            }
        }
    }
}
