{% load staticfiles %}
{% load node_extras %}

<!DOCTYPE html>
<html>
	<head>
		<title>Luyao Hou - About</title>
		{% include "node/header.html" %}
		<link type="text/css" rel="stylesheet" 
		      href="{% static 'node/about_style.css' %}" />
		<script src="{% static 'node/jQueryRotate.js' %}"></script>
		<script src="{% static 'node/about_js.js' %}"></script>
	</head>
	<body>
		{% include "node/nav.html" %}
		<div id="aboutMain">
			<div id="navCol">
				<h5>Currently Navigating:</h5>
				<ul id="navColList">
					{% if allInfo %}
						{% for info in allInfo %}
							<li>{{info.title}}</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div id="aboutContent">
				{% if allInfo %}
					{% for info in allInfo %}
						<div class="infoEntry">
							<h3 class="infoTitle">{{info.title}}</h3>
							<div class="infoContent">
								<p>{{info.content|safe}}</p>
							</div>
							<div class="overlay">
								<img class="showAllButton" 
								  src="{% static 'node/img/up_arrow.png' %}" />
							</div>
						</div>
					{% endfor %}
					<div id="placeholder">
					</div>
				{% endif %}
			</div>
		</div>
	<body>
</html>