{% load staticfiles %}
{% load node_extras %}

<!DOCTYPE html>
<html>
	<head>
		<title>Luyao Hou - Contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" 
		      href="{% static 'node/contact_style.css' %}" />
		<link type="text/css" rel="stylesheet" 
			  href="{% static 'node/bootstrap_3.3.6/css/bootstrap.min.css' %}" />
		<!-- favicon -->
		<link rel="shortcut icon" href="{%  static 'node/img/favicon.ico' %}">
		<!-- include jQuery library -->
		<script src="{% static 'node/jquery_2.2.4.js' %}"></script>
		<script src="{% static 'node/bootstrap_3.3.6/js/bootstrap.min.js' %}">
		</script>
		<script src="{% static 'node/contact_js.js' %}"></script>
		<script type="text/javascript">

		</script>
	</head>
	<body>
		{% include "node/nav.html" %}
		<div id="contactMain">
			<div id="phoneDiv" class="basicInfo">
				<h1>Phone</h1>
				<p>412-961-4655</p>
			</div>
			<div id="emailDiv" class="basicInfo">
				<h1>Email</h1>
				<a href="mailto:hly.charles@gmail.com?Subject=Hi" 
				   id="emailLink">hly.charles@gmail.com</a>
			</div>
			<div id="socialDiv">
				<h1>Links</h1>
				<div id="githubLink" class="accountDiv">
					<img id="githubLogo" class="socialLogo" 
						 src="{% static 'node/img/logo/octocat.png' %} " />
					<p>GitHub</p>
				</div>
				<div id="linkedInLink" class="accountDiv">
					<img id="linkedInLogo" class="socialLogo" 
					     src="{% static 'node/img/logo/linkedIn.png' %} " />
					<p>LinkedIn</p>
				</div>
				<div id="facebookLink" class="accountDiv">
					<img id="facebookLogo" class="socialLogo" 
					     src="{% static 'node/img/logo/facebook.png' %} " />
					<p>Facebook</p>
				</div>
			</div>
		</div>
	<body>
</html>