{% load staticfiles %}
{% load node_extras %}

<!DOCTYPE html>
<html>
	<head>
		<title>Luyao Hou - Contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" 
		      href="{% static 'node/contact_style.css' %}" />
		<link type="text/css" rel="stylesheet" 
			  href="{% static 'node/bootstrap_3.3.6/css/bootstrap.min.css' %}" />
		<!-- include jQuery library -->
		<script src="{% static 'node/jquery_2.2.4.js' %}"></script>
		<script src="{% static 'node/bootstrap_3.3.6/js/bootstrap.min.js' %}">
		</script>
		<script src="{% static 'node/contact_js.js' %}"></script>
		<script type="text/javascript">

		</script>
	</head>
	<body>
		<div class="titleBar">
			<ul class="navList">
				<li><a href="{% url 'index' %}">Main</a></li>
				<li id="about"><a href="{% url 'about' %}">About</a></li>
				<li id="work"><a href="{% url 'work' %}">Work</a></li>
				<li><a href="http://google.com">Memos</a></li>
				<li id="contact"><a href="{% url 'contact' %}">Contact</a></li>
			</ul>
		</div>
		<div id="contactMain">
		</div>
	<body>
</html>