{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Luyao Hou</title>
		{% include "node/header.html" %}
		<link type="text/css" rel="stylesheet" 
		      href="{% static 'node/index_style.css' %}" />
		<script src="{% static 'node/index_js.js' %}"></script>
		<script type="text/javascript">
			var data = {{vals|safe}};
		</script>
	</head>

	<body>
		{% include "node/nav.html" %}
		<div class="main">
			<canvas class="bgCanvas"></canvas>
			<div id="mainImg">
				<img id="profile" src="{% static 'node/img/profile_pic.jpg' %} " />
			</div>
			<div id="mainIntro">
				<h2>Luyao Hou</h2>
				<ul id="mainInfo">
					<li>Junior at CMU</li>
					<li>Computer Science</li>
				</ul>
			</div>
		</div>
	</body>
</html>