{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Luyao Hou</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" 
		      href="{% static 'node/index_style.css' %}" />
		<link type="text/css" rel="stylesheet" 
			  href="{% static 'node/bootstrap_3.3.6/css/bootstrap.min.css' %}" />
		<!-- favicon -->
		<link rel="shortcut icon" href="{%  static 'node/img/favicon.ico' %}">
		<!-- include jQuery library -->
		<script src="{% static 'node/jquery_2.2.4.js' %}"></script>
		<script src="{% static 'node/bootstrap_3.3.6/js/bootstrap.min.js' %}">
		</script>
		<script src="{% static 'node/index_js.js' %}"></script>
		<script type="text/javascript">
			var data = {{vals|safe}};
		</script>
	</head>

	<body>
		{% include "node/nav.html" %}
		<div class="main">
			<canvas class="bgCanvas"></canvas>
			<div id="mainImg">
				<img id="profile" src="{% static 'node/img/profile_pic.jpg' %} " />
			</div>
			<div id="mainIntro">
				<h2>Luyao Hou</h2>
				<ul id="mainInfo">
					<li>Junior at CMU</li>
					<li>Computer Science</li>
				</ul>
			</div>
		</div>
	</body>
</html>