{% load staticfiles %}
{% load node_extras %}

<!DOCTYPE html>
<html>
	<head>
		<title>Luyao Hou - Work</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" 
		      href="{% static 'node/work_style.css' %}" />
		<link type="text/css" rel="stylesheet" 
			  href="{% static 'node/bootstrap_3.3.6/css/bootstrap.min.css' %}" />
		<!-- favicon -->
		<link rel="shortcut icon" href="{%  static 'node/img/favicon.ico' %}">
		<!-- include jQuery library -->
		<script src="{% static 'node/jquery_2.2.4.js' %}"></script>
		<script src="{% static 'node/jQueryRotate.js' %}"></script>
		<script src="{% static 'node/bootstrap_3.3.6/js/bootstrap.min.js' %}">
		</script>
		<script src="{% static 'node/work_js.js' %}"></script>
		<script type="text/javascript">
			var imgs = {{imgs|safe}};
			var projectTitles = JSON.parse("{{projectTitles|escapejs}}");
			var projectContents = JSON.parse("{{projectContents|escapejs}}");
			var projectLinks = JSON.parse("{{projectLinks|escapejs}}");
			var projectCategories = JSON.parse("{{projectCategories|escapejs}}");
			var categoryColors = JSON.parse("{{categoryColors|escapejs}}");
		</script>
	</head>
	<body>
		{% include "node/nav.html" %}
		<div class="workMain">
			<div class="navCol">
				<h5>Categories:</h5>
				<ul class="navColList" id="navColList">
					<li>All</li>
					{% if categories %}
						{% for category in categories %}
							<li>{{category}}</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div class="workContent">
				{% if allProjects %}
					{% for project in allProjects %}
						<div class="project">
							<img class="projectBg" />
							<div class="projectMask"></div>
							<div class="projectContent">
								<h3></h3>
								<p class="projectDscr"></p>
							</div>
							<div class="projectOverlay">
								<img class="showMoreButton" 
								  src="{% static 'node/img/up_arrow.png' %}" />
								<img class="linkButton" 
								  src="{% static 'node/img/link.png' %}" />
							</div>
						</div>
					{% endfor %}
					<p>No Related Project</p>
					<div id="placeholder"></div>
				{% endif %}
			</div>
		</div>
	<body>
</html>