{% load staticfiles %}
{% load node_extras %}

<!DOCTYPE html>
<html>
	<head>
		<title>Luyao Hou - Work</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" 
		      href="{% static 'node/work_style.css' %}" />
		<link type="text/css" rel="stylesheet" 
			  href="{% static 'node/bootstrap_3.3.6/css/bootstrap.min.css' %}" />
		<!-- include jQuery library -->
		<script src="{% static 'node/jquery_2.2.4.js' %}"></script>
		<script src="{% static 'node/bootstrap_3.3.6/js/bootstrap.min.js' %}">
		</script>
		<script src="{% static 'node/work_js.js' %}"></script>
		<script type="text/javascript">
			var imgs = {{imgs|safe}};
			var projectTitles = JSON.parse("{{projectTitles|escapejs}}");
			var projectContents = JSON.parse("{{projectContents|escapejs}}");
			var projectCategories = JSON.parse("{{projectCategories|escapejs}}");
			var categoryColors = JSON.parse("{{categoryColors|escapejs}}");
		</script>
	</head>
	<body>
		<div class="titleBar">
			<ul class="navList">
				<li><a href="{% url 'index' %}">Main</a></li>
				<li id="about"><a href="{% url 'about' %}">About</a></li>
				<li id="work"><a href="{% url 'work' %}">Work</a></li>
				<li><a href="http://google.com">Memos</a></li>
				<li><a href="http://google.com">Contact</a></li>
			</ul>
		</div>
		<div class="workMain">
			<div class="navCol">
				<ul class="navColList">
					<li>All</li>
					{% if categories %}
						{% for category in categories %}
							<li>{{category}}</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div class="workContent">
				{% if allProjects %}
					{% for project in allProjects %}
						<div class="project">
							<img class="projectBg" />
							<div class="projectMask"></div>
							<div class="projectContent">
								<h3></h3>
								<p></p>
							</div>
							<div class="projectOverlay">
							</div>
						</div>
					{% endfor %}
					<p>No Related Project</p>
				{% else %}
				{% endif %}
			</div>
		</div>
	<body>
</html>